@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol|Major+Mono+Display|Patua+One&display=swap');

$ff-ss: 'Pathway Gothic One', sans-serif;
$ff-s: 'Cardo', serif;
$ff-sss: 'Patua One', cursive;
$ff-ssg: 'Girassol', cursive;